// MIXINS
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500');

$purple: #754AED;
$green: #1DCC70;
$blue: #00ADFF;
$gray: #1B2C42;

* {
  font-family:"Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  color:$gray;
}

h1, h2, h3, h4 {
  font-family:"Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration:none;
  color: #1DCC70;
  font-weight:bold;
}

::selection {
  color:white;
  background:$green;
}

// MAIN STYLES
body {
  margin:0;
  padding:0;
}

header {
  border-bottom:1px solid $gray;
}

main {
  width:56vw;
  padding:2vw;
  position:absolute;
  left:0;

  #view-sample {
    display:none;
  }

  #explainer {
    padding-bottom:1em;
    border-bottom:1px solid $gray;
    margin-bottom:1em;
  }

  form {
    .form-row {
      max-width:250px;
      width:100%;

      label {
        font-weight:lighter;
        align-self:center;
        color:$gray * 3;
        font-size:0.7em;
      }

      input {
        width:100%;

        &[type="text"] {
          font-size:1em;
          padding:0.2em;
          border-radius:4px;
          border-color:$gray * 2;
          border-width:2px;
          border-style:solid;

          &:focus {
            border-color:$purple;
          }
        }
      }

      margin-bottom:0.8em;
    }
  }
}

h1 {
  font-size:2.5em;

  &#nav-title {
    font-size:3.5em;
    margin-top:0;
  }

  #title-emphasis {
    display:inline-block;
    color:white;
    background-color:$purple;
    padding:0.2em;
  }
}

#beta {
  color:$purple;
  padding:0.2em;
  font-size:0.5em;
}

#sample-email {
  position:absolute;
  top:0;
  right:0;
  width:36vw;
  min-height:100vh;
  padding:2vw;
  background-color:$gray;

  * {
    text-align:center;
  }

  *:not(a) {
    color:white !important;
  }

  .new-section {
    padding-top:1em;
    border-top:1px solid #ccc;
  }

  #sample-title {
    color:white;
    background-color:$blue;
    padding:0.2em;
  }

  h4 {
    margin-bottom:0;
  }

  div {
    margin-bottom:1em;
  }

  #zip-code {
    margin-top:0;
    font-size:2.5em;
    margin-bottom:0;
    color: #1B2C42;
  }

  #neighborhood-name {
    font-size:1.8em;
    margin-top:0;
    font-weight:300;
    color:#333;
  }

  .figure, #project-list-title {
    margin-top:1.5em;
    margin-bottom:0;
  }

  .descriptor {
    font-weight:300;
    margin-top:0;
    color:#333;
  }

  #projects-box {
    border-radius:0.7em;
    width:85%;
    margin:auto;
    padding:0.5em 1em 0.5em 1em;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.24);
  }

  #projects-list-title {
    margin-top:0;
  }

  .address {
    font-weight:400;
    margin-bottom:0;
  }

  .details {
    color:#ccc;
    font-size:0.7em;
    font-weight:300;
    margin-top:0;
    margin-bottom:0.7em;
  }

  #produced {
    margin-bottom:0.2em;
  }

  #units {
    margin:0;
  }

  #of-housing {
    margin-top:0.2em;
  }
}

footer {
  position:relative;
  top:4em;

  small {
    display:block;

    &:last-of-type {
      padding-bottom:2em;
    }
  }
}




// RESPONSIVE
@import 'responsive';
