// MIXINS
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500');

$purple: #754AED;
$green: #1DCC70;
$blue: #00ADFF;
$gray: #1B2C42;

* {
  font-family:"Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  color:$gray;
}

h1, h2, h3, h4 {
  font-family:"Roboto Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
}

a {
  text-decoration:none;
  color: #1DCC70;
  font-weight:bold;
}

::selection {
  color:white;
  background:$green;
}

// MAIN STYLES
body {
  margin:0;
  padding:0;
}

header {
  border-bottom:1px solid $gray;
}

#home-main {
  width:96vw;
  padding:2vw;
  display:grid;
  grid-template-columns:28% 72%;
  grid-template-rows:auto auto 80vh auto;

  nav {
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:nowrap;
    grid-row:1 / 2;
    grid-column:1 / 3;

    #search {
      width:50%;
      margin-right:3em;
      margin-left:auto;

      input[type="text"]{
        padding:0.5em;
        width:100%;
        border-radius:8px;
        border-width:2px;
        border-style:solid;
        border-color:$purple;
        font-size:0.9em;
        box-sizing:border-box;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);

        &::placeholder {
          font-style:italic;
        }

        &:focus {
          border-color:$green;
        }
      }
    }
  }

  #explainer {
    padding-bottom:1em;
    margin-bottom:1em;
    grid-row:2 / 3;
    grid-column:1 / 3;
    line-height:2.4em;
  }

  #chloropleth {
    grid-row:3 / 4;
    grid-column:2 / 3;
    position:relative;

    .legend nav {
      display:inline-flex;
      justify-content:space-between;
      align-items:stretch;
    }

    .legend span {
      opacity:0.7; //to match map opacity
    }

    .legend-row label {
      padding-left:0.4em;
    }

    #loading {
      display:flex;
      flex-wrap:wrap;
      width:100%;
      height:100%;
      background-color:white;
      align-items:center;
      justify-content:center;

      div {
        text-align:center;
      }

      #loading-nav-title {
        font-size:1.4em;
        margin:0;

        #loading-beta {
          color:#purple;
        }
      }

      #loading-title-emphasis {
        display:inline-block;
        color:white;
        background-color:$purple;
        padding:0.2em;
      }
    }
  }

  #email-subscribe {
    grid-row:3 / 4;
    grid-column:1 / 2;
    line-height:1.5em;
    padding:0 5%;
    background-color:$gray;
    display:flex;
    align-items:center;

    p, small {
      color:white;
    }

    small {
      font-style:italic;
      opacity:0.6;
    }

    form {
      .form-row {
        max-width:250px;
        width:100%;

        label {
          font-weight:lighter;
          align-self:center;
          color:$blue;
          font-size:0.7em;
        }

        input {
          width:100%;

          &[type="text"] {
            font-size:1em;
            padding:0.2em;
            border-radius:4px;
            border-color:$gray * 2;
            border-width:2px;
            border-style:solid;

            &:focus {
              border-color:$purple;
            }
          }
        }

        margin-bottom:0.8em;
      }
    }
  }

  #summary {
    grid-row:4 / 5;
    grid-column: 1 / 3;
    display:flex;
    flex-wrap:wrap;

    .summary-box {
      display:block;
      border-bottom-width:1px;
      border-bottom-style:solid;
      border-bottom-color:lightgray;
      padding:15px;
      flex-basis:calc(33% - 30px);

      &:nth-of-type(1), &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(5){
        border-right-width:1px;
        border-right-style::solid;
        border-right-color:lightgray;
      }

      h1 {
        margin-bottom:0;
        font-size:3em;
      }

      h2 {
        color:$green;
        margin:0;
      }

      h3 {
        margin:0;
      }

      h4 {
        margin-top:0;
      }

      .top-five {
        margin-top:0.5em;

        h3 {
          margin:auto;
        }

        h3, p {
          display:inline;
        }

        p {
          margin-left:8px;
          font-size:0.8em;
          font-weight:400;
        }
      }

      .reference {
        font-weight:400;
        color:$purple;
        display:none;
        font-size:0.8em;
        text-transform:uppercase;
      }
    }
  }

  footer {
    position:relative;
    top:4em;
    grid-row:5 / 6;
    grid-column:1 / 3;
    max-width:600px;
    margin:auto;

    small {
      display:block;

      &:last-of-type {
        padding-bottom:2em;
      }
    }
  }
}

h1 {
  font-size:2.5em;

  &#nav-title {
    font-size:3.5em;
    margin-top:0;
    margin-bottom:0;
  }

  #title-emphasis {
    display:inline-block;
    color:white;
    background-color:$purple;
    padding:0.2em;
  }
}

#beta {
  color:$purple;
  padding:0.2em;
  font-size:0.5em;
}

#sample-email {
  display:none;
  position:absolute;
  top:0;
  right:0;
  width:36vw;
  min-height:100vh;
  padding:2vw;
  background-color:$gray;

  * {
    text-align:center;
  }

  *:not(a) {
    color:white !important;
  }

  .new-section {
    padding-top:1em;
    border-top:1px solid #ccc;
  }

  #sample-title {
    color:white;
    background-color:$blue;
    padding:0.2em;
  }

  h4 {
    margin-bottom:0;
  }

  div {
    margin-bottom:1em;
  }

  #zip-code {
    margin-top:0;
    font-size:2.5em;
    margin-bottom:0;
    color: #1B2C42;
  }

  #neighborhood-name {
    font-size:1.8em;
    margin-top:0;
    font-weight:300;
    color:#333;
  }

  .figure, #project-list-title {
    margin-top:1.5em;
    margin-bottom:0;
  }

  .descriptor {
    font-weight:300;
    margin-top:0;
    color:#333;
  }

  #projects-box {
    border-radius:0.7em;
    width:85%;
    margin:auto;
    padding:0.5em 1em 0.5em 1em;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.24);
  }

  #projects-list-title {
    margin-top:0;
  }

  .address {
    font-weight:400;
    margin-bottom:0;
  }

  .details {
    color:#ccc;
    font-size:0.7em;
    font-weight:300;
    margin-top:0;
    margin-bottom:0.7em;
  }

  #produced {
    margin-bottom:0.2em;
  }

  #units {
    margin:0;
  }

  #of-housing {
    margin-top:0.2em;
  }
}

#map-menu {
  position:absolute;
  top:10px;
  right:10px;
  max-width:150px;
  z-index:20;
  padding:5px;
  border-radius:5px;
  background-color: white;
  box-shadow:0 1px 2px rgba(0,0,0,.1);

  .form-row {
    display:grid;
    grid-template-columns: 15% auto;

    input {
      grid-column: 1 / 2;
    }

    label {
      grid-column: 2 / 3;
    }
  }
}

@import 'info';
@import 'articles';

// RESPONSIVE
@import 'responsive';
