<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Add it up. | Exploring housing in LA</title>

    <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16" />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">

    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- MY STYLESHEETS -->
    <link rel="stylesheet" href="../../css/styles.min.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135640841-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-135640841-1');
    </script>
  </head>
  <body>
    <header id="info-nav" style="border:none;">
      <a href="/"><h1 id="nav-title"><span id="title-emphasis">Add it up.</span> <span id="beta">BETA</span></h1></a>
      <form id="search" action="/info/search" method="post">
        <input type="text" id="zip" name="zip" placeholder="Find a ZIP code or neighborhood">
      </form>
    </header>

    <main class="article-main">
      <h1 class="article-title">New housing construction in LA is not spread evenly</h1>
      <h4 class="byline">by JAMES TYNER  |  Apr. 23, 2019</h4>

      <div class="article-container">
        <p>Since the beginning of 2013, Los Angeles has approved the construction of more than 53,981 units of housing. Additionally, the city has in each year approved more housing than in the last:</p>

        <div class="chart-container">
          <canvas id="yearly-chart"></canvas>
        </div>

        <p>However, all this new housing construction has not been spread evenly across the city. Data from the city’s Department of Building and Safety show that the most new units have been approved in just a few neighborhoods:</p>

        <div class="chart-container">
          <canvas id="most-active-chart"></canvas>
        </div>

        <p>Meanwhile, some ZIP codes have built little or new new housing in the past five years:</p>

        <div class="chart-container">
          <canvas id="least-active-chart"></canvas>
        </div>

        <p>It’s important to note that several of these ZIP codes are barely in the city of LA, and the dataset we’re using to calculate the number of units built only included units approved by the city of Los Angeles, not those outside the city. Those ZIP codes that largely encompass land outside the city are marked with an asterisk.</p>

        <p>Still, there’s a huge difference between 20 units built in 90293 (Playa del Rey), which is entirely within the city of Los Angeles, and the citywide average of 545 units.</p>

        <p>In many, but not all cases, new housing construction has been concentrated in areas with lower incomes and a higher percentage of minority residents. LIST EXAMPLES (probably downtown and Playa Vista)</p>

        <h3>Methodology:</h3>
        <p>We relied on the database entitled “Building and Safety Permit Information” from the Los Angeles Department of Building and Safety. Totals here include table rows where the building type is “Bldg-New” — so only new buildings, not additions or modifications to current ones — and the permit was not for a “Commercial” building, meaning only  projects with residences were included.
        </p>

        <p>You can view the Python code used to obtain and filter the data <a href="https://github.com/james-tyner/la-unit-construction">on GitHub</a>.
        </p>

        <p>One important note about the data is that accessory dwelling units are more prevalent in residential neighborhoods, where more lots have yards with the space to construct secondary buildings. In most cases, the city’s database counts an accessory dwelling unit as 0 units, so those projects don’t count toward the totals listed above. Sometimes ADUs are leased to long-term residents, sometimes they’re used for things like Airbnb, and sometimes they’re kept for personal use. Regardless, it’s hard to separate ADU construction from other structures in the database, which also includes projects with descriptions like “DETACHED PATIO” and “DETACHED REC. ROOM”. For those reasons, I can’t count every 0-unit entry as a unit of housing, and I’ve chosen not to filter out accessory dwelling units as a separate form of construction.
        </p>
      </div>


      <footer>
        <h3>About the data</h3>
        <small>Buildings permits data come from the <a href="//data.lacity.org">city of Los Angeles open data portal</a>. This dataset includes only housing approved under the jurisdiction of the city of Los Angeles, so other cities (like Santa Monica or Burbank) and unincorporated LA County land (like Willowbrook or Marina Del Rey) are not included.</small>
        <br>
        <small>Metro Rail station data comes from the <a href="https://developer.metro.net/introduction/gis-data/download-gis-data/">Los Angeles County Metropolitan Transportation Authority</a>.</small>
        <br>
        <small>Demographic data (including housing costs and median income) comes from the US Census Bureau 2017 American Communities Survey.</small>
        <br>
        <small>For weekly emails: Your email address will be stored on a secure server. Emails are sent via SendGrid, an industry-standard tool, over an encrypted connection.</small>
        <br>
        <small>&copy; 2019 James Tyner</small>
      </footer>


    </main>

    <!-- Plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.min.js"></script>
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- Site scripts -->
    <script src="../../js/scripts.js"></script>
    <script src="../../js/article-scripts.js"></script>
  </body>
</html>
