<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Add it up. | Exploring housing in LA</title>

    <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16" />

    <!-- MAPBOX -->
    <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/solid.css" integrity="sha384-QokYePQSOwpBDuhlHOsX0ymF6R/vLk/UQVz3WHa6wygxI5oGTmDTv8wahFOSspdm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/fontawesome.css" integrity="sha384-vd1e11sR28tEK9YANUtpIOdjGW14pS87bUBuOIoBILVWLFnS+MCX9T6MMf0VdPGq" crossorigin="anonymous">

    <!-- Tooltip plugin -->
    <script src="https://unpkg.com/v-tooltip"></script>

    <!-- MY STYLESHEETS -->
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="stylesheet" href="../css/styles.min.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135640841-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-135640841-1');
    </script>
  </head>
  <body>
    <header id="info-nav" style="border:none;">
      <a href="/"><h1 id="nav-title"><span id="title-emphasis">Add it up.</span> <span id="beta">BETA</span></h1></a>
      <form id="search" action="/info/search" method="post">
        <input type="text" id="zip" name="zip" placeholder="Find a ZIP code or neighborhood">
      </form>
    </header>

    <main>
      <section id="information" v-cloak>
        <div id="info-header">
          <h1>{{zipCode}}</h1>
          <h2 class="zip-desc">{{info.description}}</h2>
          <h2 class="zip-units-all">{{info.units.unitsAll | zeroIfNull | commaSeparated}} units approved since 2013</h2>
          <p class="zip-units-ytd">{{info.units["units" + sidebarYear] | zeroIfNull | commaSeparated}} units in {{sidebarYear}}</p>
        </div>
        <div id="demographics">
          <div class="population">
            <h3>{{info.demographics.population | commaSeparated}}</h3>
            <p class="demo-desc">population</p>
          </div>
          <div class="minority">
            <h3>{{info.demographics.percentMinority}}%</h3>
            <p class="demo-desc">minority</p>
          </div>
          <div class="costs">
            <h3>{{info.costs.percentage}}%</h3>
            <p class="demo-desc">of income spent on housing</p>
            <p class="income-desc">Median income: ${{info.costs.medianIncome | commaSeparated}}</p>
            <p class=
            "income-desc">Median housing cost: ${{info.costs.medianHousingCost | commaSeparated}} monthly</p>
          </div>

        </div>
        <div id="map-container">
          <div id="loading">
            <div>
              <h1 id="loading-nav-title"><span id="loading-title-emphasis">Add it up.</span> <span id="loading-beta">BETA</span></h1>
              <p>Loading…</p>
            </div>
          </div>
          <div id="map-menu">
            <form>
              <strong>Toggle layers</strong>
              <div class="form-row">
                <input type="checkbox" value="toc" id="show-toc-zones"><label for="show-toc-zones">TOC incentive zones <span style='color:green;'>(½ mi.)</span></label>
              </div>
            </form>
          </div>
          <div id='legend' style='display:none;'>
            <strong>Development in {{zipCode}}</strong>
            <nav class='legend clearfix'>
              <div>
                <span style='color:#1DCC70;'>█</span>
                <label>ZIP code boundary</label>
              </div>
              <div>
                <span style='color:#754AED;opacity:0.15'>█</span>
                <label>LA city limits</label>
              </div>
            </nav>
          </div>
          <div id='map'></div>
          <div id="year-selector">
            <div class="instructions">Filter:</div>
            <div class="yearReset active" v-on:click="selectedYear = ''; sidebarYear = '2019'">All</div>
            <div class="year" v-on:click="selectedYear = '2019'; sidebarYear = '2019'">2019</div>
            <div class="year" v-on:click="selectedYear = '2018'; sidebarYear = '2018'">2018</div>
            <div class="year" v-on:click="selectedYear = '2017'; sidebarYear = '2017'">2017</div>
            <div class="year" v-on:click="selectedYear = '2016'; sidebarYear = '2016'">2016</div>
            <div class="year" v-on:click="selectedYear = '2015'; sidebarYear = '2015'">2015</div>
            <div class="year" v-on:click="selectedYear = '2014'; sidebarYear = '2014'">2014</div>
            <div class="year" v-on:click="selectedYear = '2019'; sidebarYear = '2013'">2013</div>
          </div>
        </div>
        <div id="projects-list">
          <h2>All Projects</h2>
          <table>
            <thead class="indiv-project header">
              <th class="project-date">Date</th>
              <th class="project-address">Address</th>
              <th class="project-units">Units</th>
              <th class="project-stories">Stories</th>
            </thead>
            <tbody>
              <tr class="indiv-project" v-for="project in yearFiltered">
                <td class="project-date">{{project.date | humanDate}}</td>
                <td class="project-address">{{project.address}}<a class="info-button" v-tooltip.left="project.description"><i class="fas fa-info-circle"></i></a></td>
                <td class="project-units">{{project.units | zeroIfNull | pluralizeUnits}}</td>
                <td v-if="project.stories != 'null'" class="project-stories">{{project.stories | pluralizeStories}}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <footer>
          <small>Housing data comes from the <a href="//data.lacity.org">City of Los Angeles open data portal</a>. Metro Rail station data comes from the <a href="https://developer.metro.net/introduction/gis-data/download-gis-data/">Los Angeles County Metropolitan Transportation Authority</a>.</small>
          <br>
          <small>Demographic data comes from the US Census Bureau 2017 American Communities Survey. </small>
          <br>
          <small>&copy; 2019 James Tyner</small>
        </footer>
      </section>


    </main>

    <!-- Plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.min.js"></script>
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- Site scripts -->
    <script src="js/scripts.js"></script>
    <script src="js/info-scripts.js"></script>
  </body>
</html>
