<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Add it up. | Exploring housing in LA</title>

    <link rel="icon" type="image/png" href="../favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="../favicon-16x16.png" sizes="16x16" />

    <!-- MAPBOX -->
    <script src='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.css' rel='stylesheet' />

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

    <!-- MY STYLESHEETS -->
    <link rel="stylesheet" href="css/styles.min.css">
    <link rel="stylesheet" href="../css/styles.min.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135640841-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-135640841-1');
    </script>
  </head>
  <body>
    <header id="info-nav" style="border:none;">
      <h1 id="nav-title"><span id="title-emphasis">Add it up.</span> <span id="beta">BETA</span></h1>
      <!-- <input type="text" id="search" placeholder="Find a ZIP code or neighborhood"> -->
    </header>

    <main>
      <section id="information" v-cloak>
        <div id="info-header">
          <h1>{{zipCode}}</h1>
          <h2 class="zip-desc">{{info.description}}</h2>
          <h2 class="zip-units-all">{{info.units.unitsAll | zeroIfNull | commaSeparated}} units approved since 2013</h2>
          <p class="zip-units-ytd">{{info.units.units2019 | zeroIfNull | commaSeparated}} units in 2019</p>
        </div>
        <div id="demographics">
          <div class="population">
            <h3>{{info.demographics.population | commaSeparated}}</h3>
            <p class="demo-desc">population</p>
          </div>
          <div class="minority">
            <h3>{{info.demographics.percentMinority}}%</h3>
            <p class="demo-desc">minority</p>
          </div>
          <div class="costs">
            <h3>{{info.costs.percentage}}%</h3>
            <p class="demo-desc">of income spent on housing</p>
            <p class="income-desc">Median income: ${{info.costs.medianIncome | commaSeparated}}</p>
            <p class=
            "income-desc">Median housing cost: ${{info.costs.medianHousingCost | commaSeparated}} monthly</p>
          </div>

        </div>
        <div id="map-container">
          <div id='map'></div>
        </div>
        <div id="projects-list">
          <h2>All Projects</h2>
          <table>
            <thead class="indiv-project header">
              <th class="project-date">Date</th>
              <th class="project-address">Address</th>
              <th class="project-units">Units</th>
              <th class="project-stories">Stories</th>
            </thead>
            <tbody>
              <tr class="indiv-project" v-for="project in projects">
                <td class="project-date">{{project.date | humanDate}}</td>
                <td class="project-address">{{project.address}}</td>
                <td class="project-units">{{project.units | zeroIfNull | pluralizeUnits}}</td>
                <td v-if="project.stories != 'null'" class="project-stories">{{project.stories | pluralizeStories}}</td>
              </tr>
            </tbody>
          </table>
        </div>

      </section>

      <footer>
        <small>Data comes from the <a href="//data.lacity.org">City of Los Angeles open data portal</a>.</small>
        <br>
        <small>&copy; 2019 James Tyner</small>
      </footer>
    </main>

    <!-- Plugins -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.3/vue.min.js"></script>
    <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

    <!-- Site scripts -->
    <script src="js/scripts.js"></script>
    <script src="js/info-scripts.js"></script>
  </body>
</html>
