@mixin super-heading {
    font-size:3rem;
    opacity:0.92;
    font-weight:$extrabold;
}

@mixin primary-subhead {
    font-size:1.75rem;
    font-weight:$bold;
    opacity:0.92;
}

@mixin smaller-h3 {
    font-weight:$semibold;
    font-size:1.25rem;
}

@mixin label {
    font-weight:$medium;
    font-size:1rem;
}